# Ignore node_modules
node_modules/

# Ignore build output
build/
dist/
*.min.js

# Ignore specific files
public/index.html
*.config.js

# Ignore files in specific directories
src/assets/images/
src/components/MockInterview/MockInterviewStart.jsx
